/*===================COMMON START====================*/
.record-panel {
  background-color: rgba(51, 51, 51, 0.7);
  padding: 10px;
  margin: 5px;
  border-radius: 2px;
}

.record-container {
  display: flex;
  height: 80vh;
  flex-wrap: wrap;
}

.record-panel>h1 {
  font-size: 1.7rem;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(255, 255, 255, 0.4);
  margin-top: 5px;
  margin-bottom: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-left: 5px;
}

.record-table {
  height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
  color: #ffffff;
}

.table-hover>tbody>tr:hover {
  background-color: rgba(27, 27, 27, 0.3) !important;
}

/*===================COMMON END====================*/
/*===================RECORDS FILTER START====================*/
.record-filter-container {
  text-align: center;
}

.record-filter-text {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 1.7rem;
}

/*===================RECORDS FILTER END====================*/
/*===================EXPENSES PANEL START====================*/
.expenses-panel {
  flex: 1.5;
}

/*===================EXPENSES PANEL END====================*/
/*===================ACTIVEINCOME PANEL START====================*/
.active-panel {
  flex: 1;
}

/*===================ACTIVEINCOME PANEL END====================*/
/*===================PASSIVEINCOME PANEL START====================*/
.passive-panel {
  flex: 1;
}

/*===================PASSIVEINCOME PANEL END====================*/

/*===================MODAL START====================*/
.modal-header {
  border-bottom: 0px;
  text-align: center;
  padding-bottom: 5px;
}

.modal-header > h4 {
  font-size: 2.8rem;
  letter-spacing: 2px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.modal-subtitle {
  letter-spacing: 1px;
  font-style: italic;
}

.modal-body {
  padding: 20px 30px;
}

.modal-footer {
  border-top: 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.modal-footer:hover {
  cursor: pointer;
}

.modal-content {
  border-radius: 0px;
  background-color: #ffffff;
  color: #666666;
}

.modal-dialog {
  margin: 20vh auto;
}

.record-input {
  background-color: transparent;
  padding: 0px;
  border-radius: 0px;
  border: 0px;
  box-shadow: none;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333333;
  border-bottom: 2px solid #333333;
  cursor: text;
  height: 25px;
}

.record-input:focus {
  border-color: transparent;
  box-shadow: none;
  border-bottom: 2px solid #333333;
}

#record-modal-submit {
  width: 50%;
  float:left;
  padding: 15px;
  background-color: #7ddd8e;
  letter-spacing: 2px;
  font-size: 2rem;
}

#record-modal-close {
  float:left;
  width: 50%;
  background-color: #5d8bb1;
  padding: 15px;
  letter-spacing: 2px;
  font-size: 2rem;
}

#record-modal-submit:hover {
  background-color: #47c75e;
}

#record-modal-close:hover {
  background-color: #3187ce;
}

.record-toastrContainer {
  z-index: 1040 !important;
  position: absolute;
  bottom: 50px;
  right: 50px;
}
/*===================MODAL END====================*/
